.nav {
    width: 100%;
    background-color: gold;
}

.nav h1,
.nav p {
    padding-left: 20px;
}

img {
    width: 100%;
}

.box {
    margin-top: 20px;
    border: 1px solid #666;
    margin-bottom: 20px;
    width: 100%;
}

.descript {
    display: inline;
    padding-left: 20px;
}
